<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="net.sf.mpxj-common" version="7.9.3" targetFramework="net472" />
  <package id="net.sf.mpxj-for-csharp" version="7.9.3" targetFramework="net472" />
  <package id="net.sf.mpxj-ikvm" version="7.9.3" targetFramework="net472" />
</packages>